<a href="/">Home</a>
<p class="notification">Your towns people are being terrorized by the mafia. The townspeople have had enough and are out for blood.</p>
<h1 id="game-label"></h1>
<input type="button" value="Sleep">
<ul class="towns-people"></ul>
